<div class="page-header">
  <h1>All Kid #<%= @all_kid.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Kids household size</dt>
  <dd><%= @all_kid.kids_household_size %></dd>

  <dt>Assist gross income</dt>
  <dd><%= @all_kid.assist_gross_income %></dd>

  <dt>Share gross income</dt>
  <dd><%= @all_kid.share_gross_income %></dd>

  <dt>Premium 1 gross income</dt>
  <dd><%= @all_kid.premium_1_gross_income %></dd>

  <dt>Premium 2 gross income</dt>
  <dd><%= @all_kid.premium_2_gross_income %></dd>

</dl>
