<div class="container" style="padding-bottom:150px">
<div class="page-header" style="border:none">
  <h1>Do I qualify for Food Stamps, Rental Assistance, RTA Ride Free, All Kids and Medicaid?</h1>
</div>

<% if @eligible_snap == 'yes' %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>
            <h4>Based on your household size and income, you likely qualify for food stamps.</h4>
          <%= link_to "Click Here", "http://abe.illinois.gov", :class => "btn btn-primary btn-sm" %>  to find the nearest family community resource center near you and further determine your eligibility.
          <br>
          <br>
          <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/accessController?id=0.3971759164763745", :class => "btn btn-primary btn-sm" %>
             to apply online before you visit.</p>

      </div>
    </div>

    <% elsif @eligible_snap == 'maybe' %>
    <br>
        <br>
      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
              <h4>Based on the information received, we cannot determine your eligibility for foodstamps at this time. You may need to discuss your situation with a Food Stamp expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your food stamp eligibility with you. </h4>
              <br>

              <h5>
              The nearest LAF center is the <%= @lafcenter.center %>.<br>
              Address: <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @user_zipcode %> <br>
              Phone number: <%= @lafcenter.telephone %> <br>
              Spanish Speaker: <%= @lafcenter.spanish %>
              </h5>

              <br>

            <%= link_to "Click Here", "http://abe.illinois.gov", :class => "btn btn-primary btn-sm" %>  to find the nearest family community resource center near you and further determine your eligibility.
            <br>

            <br>
            <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/accessController?id=0.3971759164763745", :class => "btn btn-primary btn-sm" %>
               to apply online before you visit.</p>

      </div>
    </div>


      <% elsif @eligible_snap == 'no' %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
            <h4>Based on your household size and income, you likely do not qualify for food stamps.</h4>

            <p> If you need food assistance, text FOOD to 877-877 to see a summer meal site near you.</p>

           <p> Direct2Food is also an online resource that will help you locate the food pantries, soup kitchens, and meal programs closest to you.

          <%= link_to "Click Here", "http://www.direct2food.org/", :class => "btn btn-primary btn-sm" %> to go to their site to enter your zipcode and find resources near you.</p>
        </div>
      </div>


  <% end %>

  <% if @eligible_rental == 'yes' %>

    <div class="panel panel-default" style="margin: 0 0 40px 0">
      <div class="panel-body">
        <p style="font-size:32px; font-style:italic">You may be in luck!</p>

        <p>Based on your rental status, household size and income, you likely qualify for rental assistance.
      Applications can be filed at any of the City’s six Community Service Centers. For more information about Emergency Rental Assistance, visit your local Community Service Center <%= link_to "here", "http://www.cityofchicago.org/city/en/depts/fss/provdrs/serv/svcs/community_servicecenterlocations.html"%> or call 3-1-1.</p>
      </div>
    </div>


    <% elsif @eligible_rental == 'no' %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
        <p>Based on your household size and income, and other factors, you do not qualify for rental assistance. The financial assistance program provides essential relief services to persons in need of shelter, food, utility payments, medication and other items. Contact Emergency Fund directly at (312) 379-0301 for rent assistance.</p>
        </div>

      </div>
  <% end %>

  <% if @eligible_rta == 'yes' %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>

          <p>Based on your age, household size, and income, you likely qualify for RTA Ride Free. <p> Feel free to apply online <%= link_to "here", "https://idoaweb.aging.illinois.gov/baa/Welcome.aspx"%> before you visit.</p> </p>
        </div>
      </div>

  <% elsif @eligible_rta == 'no' %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
          <p>Based on your household size and income, you likely do not qualify for RTA Ride Free.</p>
          <p> Call 312-913-3110 for information about the Reduced Fare Program. Or, if you are a low-income woman exploring other transportation assistance options, go to www.womenwithdrive.org, to view their offerings.
           </p>
        </div>
      </div>
  <% end %>


  <% if @eligible_all_kids == 'yes' %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>


          <% if @assist_eligible == 'yes' %>
            <h4>Based on your household size and income, you likely qualify for All Kids Assist.</h4>
          <% elsif @share_eligible == 'yes' %>
            <h4>Based on your household size and income, you likely qualify for All Kids Share.</h4>

          <% elsif @premium1_eligible == 'yes' %>
            <h4>Based on your household size and income, you likely qualify for All Kids Premium Level 1.</h4>

          <% elsif @premium2_eligible == 'yes' %>
            <h4>Based on your household size and income, you likely qualify for All Kids Premium Level 2.</h4>

          <% end %>
          <br>
          <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/accessController?id=0.9912272225853554", :class => "btn btn-primary btn-sm" %> to complete your application online.</p>

      <% elsif @eligible_all_kids == 'no' %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>

            <p>Based on your household size and income, you likely do not qualify for All Kids. However, if you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.
            <%= link_to "Click Here", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-primary btn-sm" %> to learn more about fees.  Get Covered Illinois is a resource that helps families register for insurance at in-person events.
            <%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "btn btn-primary btn-sm" %> to find Get Covered Illinois events in your area. You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.
            </p>


        <% end %>
      </div>
  </div>

  <% if @eligible_medicaid == 'yes' %>
      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>
            <h4>Based on your household size and income, you likely qualify for Medicaid.</h4>

          <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/accessController?id=0.9152558493190114 ", :class => "btn btn-primary btn-sm" %>
          <br>
      </div>
    </div>

    <% elsif @eligible_medicaid == 'maybe' %>
    <br>
        <br>
      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
            <h4>Based on the information received, we cannot determine your eligibility for Medicaid at this time. </h4>
            <p class="lead"> You may need to discuss your situation with a Food Stamp expert that can share more information on your probable eligibility. Call 312.341.1070 to find a Legal Assistance Foundation (LAF) Paralegal near you to discuss your Medicaid eligibility.</p>

            <br>
      </div>
    </div>


      <% elsif @eligible_medicaid == 'no' %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
            <h4>Based on your household size and income, you likely do not qualify for Medicaid. </h4>

            <p> However, if you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.

            <%= link_to "Click Here", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-primary btn-sm" %> to learn more about fees.

            <br>
            Get Covered Illinois is a resource that helps families register for insurance at in-person events.
            <%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "btn btn-primary btn-sm" %> to find Get Covered Illinois events in your area. You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.


            </p>


        <% end %>
      </div>
</div>




<div class="container">
  <ul class="pager" style="padding: 20px 0 0 0; text-align:left">
    <!-- <li class="previous"><a href="/">← Back</a></li> -->
    <li> <%= link_to "← Back", :back, :class => "previous" %></li>
  </ul>
</div>
