<div class= "container">

<div class="page-header" style="border:none">
  <h1>Do I qualify for Food Stamps, RTA Ride Free, All Kids and Medicaid?</h1>


   <!--  <%# if @snap_eligibility.errors.any? %> -->
    <!--   <%# @snap_eligibility.errors.full_messages.each do |message| %>
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%#= message %>
        </div>
      <%# end %>
    <%# end %> -->

<div class="panel panel-default col-md-12" style="margin: 0 0 40px 0; padding-top:15px">
  <div class="panel-body">
    <form action="/create_all_city_program" role="form">



  <div class="form-group col-sm-9">
    <label for="age">How old are you?</label>
      <input type="text" id="age" name="age" placeholder="For example: 27" class="form-control" required>
  </div>

  <!-- Label and input for snap_dependent_no -->
  <div class="form-group col-sm-9">
    <label for="dependent_no">What is the number of people living in your household including yourself?</label>
      <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "This should include the number of people who purchase and prepare food with you."} %>


    <div>
      <input type="text" id="dependent_no" name="dependent_no" placeholder="For example: 3" class="form-control" required>
    </div>
  </div>

  <!-- Label and input for snap_gross_income -->
  <div class="form-group col-sm-9">
    <label for="monthly_gross_income">
      What is the gross monthly income of all people living your household including yourself?
    </label>
      <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "This includes income from all sources, such as Social Security, child support, and unemployment insurance before any deductions."} %>


    <div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" id="monthly_gross_income" name="monthly_gross_income" placeholder="For example: 1000"class="form-control" required>
  <span class="input-group-addon">.00</span>
  </div>
</div>

<div class="form-group col-sm-9">
    <label for="ninety_day_gross_income">
      What is your income over the past 90 days? </label>
      <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Includes cash receipts from all sources including money wages and salaries before any deductions, unemployment compensation, public assistance, alimony, child support, lottery/gambling winnings, dividends and all other income."} %>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="ninety_day_gross_income" name="ninety_day_gross_income" placeholder="For example: 4000" class="form-control" required>
      <span class="input-group-addon">.00</span>
    </div>
  </div>

<br>

<!-- Label and input for rta_gross_income -->
  <div class="form-group col-sm-9">
    <label for="annual_gross_income">
      What is your gross annual income?
    </label>
      <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Your total income before tax deductions, including your spouse's income if married and living together on December 31 of last year, and that of a qualified additional resident (if applicable)."} %>


    <div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" id="annual_gross_income" name="annual_gross_income" placeholder="For example: 30000" class="form-control" required>
  <span class="input-group-addon">.00</span>
</div>
</div>

<div class="form-group col-sm-12">

    <label for="education" id="education" >Are you enrolled in college or an institution of higher education ? </label>

    <div class="col-sm-6">
      <div id="education">
        <%= radio_button_tag 'education', 'yes' %> yes
        <%= radio_button_tag 'education', 'no' %> no
      </div>
    </div>
</div>
<br>

<div class="form-group col-sm-12">

    <label for="citizen" id="citizen" class="pull-left">Are you a citizen of the United States? </label>
    <div class="clearfix"></div>

    <div class="col-sm-6">
      <div id="citizen"  class="pull-left">
        <%= radio_button_tag 'citizen', 'yes' %> yes
        <%= radio_button_tag 'citizen', 'no' %> no
      </div>
    </div>
</div>
<br>

   <div class="form-group col-sm-12">

    <label for="pregnant" id="pregnant" class="pull-left">Are you pregnant ? </label>
    <div class="clearfix"></div>
    <div class="col-sm-6">
      <div id="pregnant">
        <%= radio_button_tag 'pregnant', 'yes' %> yes
        <%= radio_button_tag 'pregnant', 'no' %> no
      </div>
    </div>
</div>
<br>

<!-- <div class="form-group col-sm-12">
<p> <b>Describe your current rental status: </b></p>
<div class="col-sm-12">
  <div id="rental_status" class="pull-left">
    <%#= radio_button_tag 'rental_status', 'medical circumstance' %> Someone experiencing a medical circumstance
    <br><%#= radio_button_tag 'rental_status', 'a victim of natural disaster or fire' %> A victim of natural disaster or fire
    <br><%#= radio_button_tag 'rental_status', 'a recipient of an eviction notice' %> A recipient of an eviction notice
    <br><%#= radio_button_tag 'rental_status', 'have experienced a temporary loss of income' %> Have experienced a temporary loss of income
    <%#= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Economic crisis or hardship that is out of your control such as an unexpected job loss. However, you must be able to prove you can afford next month's rent."} %>
    <br><%#= radio_button_tag 'rental_status', 'a victim of domestic violence' %> A victim of domestic violence
    <br><%#= radio_button_tag 'rental_status', 'none of the above' %> None of the above
  </div>
</div>
</div>
<br> -->


<div class="form-group col-sm-12">

    <label for="status" id="status" class="pull-left">If you have a child, check the box below that describes your child's health insurance status:</label>
    <div class="clearfix"></div>

    <div class="col-sm-12">
      <div id="status"  class="pull-left">
        <%= radio_button_tag 'status', 'uninsured' %>  been uninsured for 12 months  <br>
        <%= radio_button_tag 'status', 'job_ended' %>  lost insurance because a JOB ended  <br>
        <%= radio_button_tag 'status', 'cobra' %>  lost insurance because the insurance was COBRA  <br>
        <%= radio_button_tag 'status', 'none' %> none of the above <br>
      </div>
    </div>
</div>

<br>
<div class="form-group col-sm-12">

    <label for="disabled" id="disabled" class="pull-left">If you are disabled, describe your current status:</label>
    <div class="clearfix"></div>

    <div class="col-sm-12">
      <div id="disabled"  class="pull-left">
        <%= radio_button_tag 'disabled', 'social-security' %>  I am receiving disability payments from Social Security.  <br>
        <%= radio_button_tag 'disabled', 'railroad' %>  I am receiving disability payments from the Railroad Retirement Board.     <br>
        <%= radio_button_tag 'disabled', 'veterans' %>  I am receiving disability payments from Veterans
          Affairs.   <br>
        <%= radio_button_tag 'disabled', 'none' %> I am currently not receiving any disability payments  <br>
      </div>
    </div>
</div>

  <%= render 'programs/zipcode_question' %>



<div class="col-sm-12">
    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>
</div>
</form>




</div>
</div>
</div>
