<div class="container" style="padding-bottom:150px">

<% if @eligible == 'yes' %>
  <div class="page-header" style="border:none">
      <h1>Do I qualify for Food Stamps?</h1>
        <p class="page lead">Food stamps, known officially as the Supplemental Nutrition Assistance Program (SNAP), helps low-income people and families buy the food they need for good health.</p>
  </div>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>
            <h4>Based on your household size and income, you likely qualify for food stamps.</h4>

          <%= link_to "Click Here", "http://abe.illinois.gov", :class => "btn btn-primary btn-sm" %>  to find the Community Service Center nearest you and further determine your eligibility.
          <br>

          <br>
          <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/accessController?id=0.3971759164763745", :class => "btn btn-primary btn-sm" %>
             to apply online before you visit.</p>

      </div>
    </div>

    <% elsif @eligible == 'maybe' %>
    <br>
        <br>
      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">

            <h4>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Food Stamp expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your food stamp eligibility with you. </h4>
            <br>

            <h5>
            The nearest LAF center is the <%= @lafcenter.center %>.<br>
            Address: <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @user_zipcode %> <br>
            Phone number: <%= @lafcenter.telephone %> <br>
            Spanish Speaker: <%= @lafcenter.spanish %>
            </h5>

            <br>

          <%= link_to "Click Here", "http://abe.illinois.gov", :class => "btn btn-primary btn-sm" %>  to find the Community Service Center nearest you and further determine your eligibility.
          <br>

          <br>
          <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/accessController?id=0.3971759164763745", :class => "btn btn-primary btn-sm" %>
             to apply online before you visit.</p>

      </div>
    </div>


      <% elsif @eligible == 'no' %>

  <div class="page-header" style="border:none">
          <h1>Do I qualify for Food Stamps?</h1>
          <p class="page lead">Food stamps, known officially  as the Supplemental Nutrition Assistance Program (SNAP), helps low-income people and families buy the food they need for good health.</p>
  </div>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
            <h4>Based on your household size and income, you likely do not qualify for food stamps.</h4>

            <p> If you need food assistance, text FOOD to 877-877 to see a summer meal site near you.</p>

           <p> Direct2Food is also an online resource that will help you locate the food pantries, soup kitchens, and meal programs closest to you.

          <%= link_to "Click Here", "http://www.direct2food.org/", :class => "btn btn-primary btn-sm" %> to go to their site to enter your zipcode and find resources near you.</p>

          <p>Here are some additional resources from Purple Binder:</p>
          <% if @food_resources_zip.count >= 2 %>
            <%= @food_resources_zip.first.name %>  <br>
            <%= @food_resources_zip.first.street %> <br>
            <%= @food_resources_zip.first.city %> <br>
            <%= @food_resources_zip.first.state %>, <%= @food_resources_zip.first.zip %> <br>
            <%= @food_resources_zip.first.phone %> <br>
            <br>
            <%= @food_resources_zip.second.name %> <br>
            <%= @food_resources_zip.second.street %> <br>
            <%= @food_resources_zip.second.city %> <br>
            <%= @food_resources_zip.second.state %>, <%= @food_resources_zip.second.zip %> <br>
            <%= @food_resources_zip.second.phone %> <br>
          <% end %>

            <% if @food_resources_first.present? %>
              <%= @food_resources_first.name %> <br>
              <%= @food_resources_first.street %> <br>
              <%= @food_resources_first.city %> <br>
              <%= @food_resources_first.state %>, <%= @food_resources_first.zip %> <br>
              <%= @food_resources_first.phone %> <br>

              <br>
              <%= @food_resources_second.name %> <br>
              <%= @food_resources_second.street %> <br>
              <%= @food_resources_second.city %> <br>
              <%= @food_resources_second.state %>, <%= @food_resources_second.zip %> <br>
              <%= @food_resources_second.phone %> <br>
            <% end %>
          <% end %>

      </div>
</div>

<div class="container">
  <ul class="pager" style="padding: 20px 0 0 0; text-align:left">
    <!-- <li class="previous"><a href="/">← Back</a></li> -->
    <li> <%= link_to "← Back", :back, :class => "previous" %></li>
  </ul>
</div>
