<div class="page-header">
  <h1>Head starts</h1>
</div>

<p><a href="/head_starts/new" class="btn btn-primary">Add a New Head Start</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Hs dependent no</th>
      <th>Hs gross income</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @head_starts.each do |head_start| %>
      <tr>
        <td><%= head_start.hs_dependent_no %></td>
        <td><%= head_start.hs_gross_income %></td>
        <td>
          <a href="/head_starts/<%= head_start.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/head_starts/<%= head_start.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_head_start/<%= head_start.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

