<div class= "container">

<div class="page-header" style="border:none">
  <h1>Do I qualify for Early Head Start?</h1>

<div class="lead">
  <p>Early Head Start provides educational and early childhood development activities for children from birth to three years old from low-income families. It includes free medical, dental, and mental health services and nutritious meals, as well as parent education and training.</p>
  </div>

  <p>You can find more information on Early Head Start <a href="http://chicagoearlylearning.org/faq">here</a></p>
</div>


<% if @early_head_start.errors.any? %>
  <% @early_head_start.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<div class="panel panel-default col-md-12" style="margin: 0 0 40px 0; padding-top:15px">
  <div class="panel-body">
    <form action="/create_early_head_start" role="form">

  <!-- Label and input for ehs_dependent_no -->
    <div class="form-group col-sm-9">
    <label for="ehs_dependent_no">How many dependents(including yourself) are in your household?</label>
    <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Number of people living in your household, including yourself."} %>
     <input type="text" id="ehs_dependent_no" name="ehs_dependent_no" placeholder="# of dependents" class="form-control" value="<%= @early_head_start.ehs_dependent_no %>">
  </div>


  <!-- Label and input for ehs_gross_income -->
   <div class="form-group col-sm-9">
    <label for="ehs_gross_income">
      What is your gross monthly income?
    </label>

    <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Total monthly income from all sources, such as Social Security, child support, and unemployment insurance before any deductions."} %>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="ehs_gross_income" name="ehs_gross_income" placeholder="gross monthly income" class="form-control" value="<%= @early_head_start.ehs_gross_income %>">
      <span class="input-group-addon">.00</span>
    </div>

    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>
</div>
</div>
</div>
