<div class= "container">

<div class="page-header" style="border:none">
  <h1>Do I qualify for Housing Counseling and Referral Information?</h1>

<div class="lead">
  <p>Housing counseling and referral information is provided to help families maintain or achieve affordable housing. Financial assistance will be provided to applicants who qualify to further assist them in reaching their goals. </p>
  </div>

  <p>You can find more information on Housing Counseling and Referral Information <a href="http://www.cedaorg.net/www2/CDS.html">here.</a></p>
</div>

<% if @housing_assistance.errors.any? %>
  <% @housing_assistance.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<div class="panel panel-default col-md-12" style="margin: 0 0 40px 0; padding-top:15px">
  <div class="panel-body">
    <form action="/create_housing_assistance" role="form">





  <!-- Label and input for housing_dependent_no -->
     <div class="form-group col-sm-9">
     <p><b>If you are a resident of Suburban Cook County and enrolled in the Community Services Block Grant program, you may be eligible for Housing Counseling and Referral Information. Please answer the following questions to find out:</b></p>
    <label for="housing_dependent_no">How many dependents(including yourself) are in your household?</label>
    <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Family size, including yourself."} %>
     <input type="text" id="housing_dependent_no" name="housing_dependent_no" placeholder="# of dependents" class="form-control" value="<%= @housing_assistance.housing_dependent_no %>" required>
  </div>

  <!-- Label and input for housing_gross_income -->
    <div class="form-group col-sm-9">
    <label for="housing_gross_income">
      What is your gross monthly income?
    </label>

    <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Income of all household members 18 years and older before deductions."} %>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="housing_gross_income" name="housing_gross_income" placeholder="gross income" class="form-control" value="<%= @housing_assistance.housing_gross_income %>" required>
      <span class="input-group-addon">.00</span>
    </div>

    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>
</div>
</div>
</div>
