<div class= "container">

<div class="page-header" style="border:none">
  <h1> Do I qualify for WIC?</h1>

<p class="lead">If you are pregnant, breastfeeding, have had a baby in the past six months, or have a child or infant younger than five years old, you may be qualify for WIC benefits.  Please answer the following questions to find out:</p>
</div>

<% if @wic.errors.any? %>
  <% @wic.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<div class="panel panel-default col-md-10" style="margin: 0 0 40px 0">
  <div class="panel-body">
    <form action="/create_wic" role="form">

  <p> Describe your health status: </p>
  <div class="relative" id="wic_status">
    <br><%= radio_button_tag 'wic_status', 'anemic' %> anemic
    <br><%= radio_button_tag 'wic_status', 'underweight' %> underweight
    <br><%= radio_button_tag 'wic_status', 'of a risky maternal age' %> of a risky maternal age
    <br><%= radio_button_tag 'wic_status', 'have a history of pregnancy complications ' %> have a history of pregnancy complications
    <br><%= radio_button_tag 'wic_status', 'have a history of poor pregnancy outcomes' %> have a history of poor pregnancy outcomes
    <br><%= radio_button_tag 'wic_status', 'has an inadequate dietary pattern' %> has an inadequate dietary pattern
    <br><%= radio_button_tag 'wic_status', 'none of the above' %> None of the above
  </div>
  <br>

  <!-- Label and input for wic_household_size -->
     <div class="form-group col-sm-9">
    <label for="rental_dependent_no">What is your household size?</label>
     <input type="text" id="wic_household_size" name="wic_household_size" placeholder="household size" class="form-control" value="<%= @wic.wic_household_size %>" required>
  </div>


  <!-- Label and input for wic_gross_income -->
    <div class="form-group col-sm-9">
    <label for="rta_gross_income">
      What is gross monthly income? <a data-toggle="popover" title="Popover title" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fa fa-info-circle"></i></a>
       <!--  </button> -->
    </label>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="wic_gross_income" name="wic_gross_income" placeholder="monthly income" class="form-control" value="<%= @wic.wic_gross_income %>" required>
      <span class="input-group-addon">.00</span>
    </div>

    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>
</div>
</div>
