<div class="page-header">
  <h1>Medicare cost sharings</h1>
</div>

<p><a href="/medicare_cost_sharings/new" class="btn btn-primary">Add a New Medicare Cost Sharing</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Household size</th>
      <th>Medicare cost sharing</th>
      <th>Premium only</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @medicare_cost_sharings.each do |medicare_cost_sharing| %>
      <tr>
        <td><%= medicare_cost_sharing.household_size %></td>
        <td><%= medicare_cost_sharing.medicare_cost_sharing %></td>
        <td><%= medicare_cost_sharing.premium_only %></td>
        <td>
          <a href="/medicare_cost_sharings/<%= medicare_cost_sharing.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/medicare_cost_sharings/<%= medicare_cost_sharing.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_medicare_cost_sharing/<%= medicare_cost_sharing.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

