<div class= "container">

<div class="page-header" style="border:none">
  <h1> Do I qualify for a Child Care Voucher?</h1>

  <div class="lead"> <p>Child Care Assistance Program (CCAP) provides low-income, working families with access to quality, affordable child care that allows them to continue working and contributes to the healthy, emotional and social development of the child. Also commonly referred to as a Child Care Voucher, the state of Illinos helps income eligible families pay for their child care services while they work, go to school, training and other work-related activities.</p>
  </div>

  <p>You can find more information about CCAP <a href="http://www.dhs.state.il.us/page.aspx?item=30355">here.</a></p>
</div>

<% if @child_care_voucher.errors.any? %>
  <% @child_care_voucher.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<div class="panel panel-default col-md-12" style="margin: 0 0 40px 0; padding-top:15px">
  <div class="panel-body">
    <form action="/create_child_care_voucher" role="form">

      <div class="form-group col-sm-9">
      <p><b>If your child is between the ages of 6 months and 12 years, you may qualify for a Child Care Voucher. Please answer the following questions to find out:</b></p>
    <label for="ccdf_dependent_no">How many dependents(including yourself) are in your household?</label>
    <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Total family size, including yourself and child[ren]."} %>

      <input type="text" id="ccdf_dependent_no" name="ccdf_dependent_no" placeholder="# of dependents" class="form-control" value="<%= @child_care_voucher.ccdf_dependent_no %>" required>
  </div>


  <!-- Label and input for rta_gross_income -->
  <div class="form-group col-sm-9">
    <label for="ccdf_gross_income">
      What is your gross monthly income?
      <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Total monthly income from all sources, including work, child support, TANF, and Social Security before any deductions."} %>
    </label>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="ccdf_gross_income" name="ccdf_gross_income" placeholder="gross monthly income" class="form-control" value="<%= @child_care_voucher.ccdf_gross_income %>" required>
      <span class="input-group-addon">.00</span>
    </div>

    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>
</div>
</div>

