<div class= "container">

<div class="page-header" style="border:none">
  <h1> Do I qualify for Rental Assistance?</h1>

 <div class="lead"> <p>Emergency Rental Assistance is available for people suffering financial hardship due to a crisis such as loss of job, home fire or illness. The program is intended to allow families to maintain housing during the time it takes to regain stability.</p>
  </div>

  <p>You can find more information about rental assistance <a href="http://www.cityofchicago.org/city/en/depts/fss/provdrs/serv/svcs/how_to_find_rentalassistanceinchicago.html">here.</a></p>
</div>

<% if @rental_assistance.errors.any? %>
  <% @rental_assistance.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="panel panel-default col-md-12" style="margin: 0 0 40px 0; padding-top:15px">
  <div class="panel-body">
    <form action="/create_rental_assistance" role="form">

<p> <b>Describe your current rental status: </b></p>
  <div class="relative" id="rental_status">
    <%= radio_button_tag 'rental_status', 'medical circumstance' %> Someone experiencing a medical circumstance
    <br><%= radio_button_tag 'rental_status', 'a victim of natural disaster or fire' %> A victim of natural disaster or fire
    <br><%= radio_button_tag 'rental_status', 'a recipient of an eviction notice' %> A recipient of an eviction notice
    <br><%= radio_button_tag 'rental_status', 'have experienced a temporary loss of income' %> Have experienced a temporary loss of income
    <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Economic crisis or hardship that is out of your control such as an unexpected job loss. However, you must be able to prove you can afford next month's rent."} %>
    <br><%= radio_button_tag 'rental_status', 'a victim of domestic violence' %> A victim of domestic violence
    <br><%= radio_button_tag 'rental_status', 'none of the above' %> None of the above
  </div>
  <br>

  <!-- Label and input for rental_dependent_no -->
     <div class="form-group col-sm-9">
    <label for="rental_dependent_no">How many dependents (including yourself) are in your household?</label>
    <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Number of people living in your household, including yourself."} %>

      <input type="text" id="rental_dependent_no" name="rental_dependent_no" placeholder="# of dependents" class="form-control" value="<%= @rental_assistance.rental_dependent_no %>" required>
  </div>


  <!-- Label and input for rental_gross_income -->
  <div class="form-group col-sm-9">
    <label for="rental_gross_income">
      What is your income over the past 90 days?
      <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Includes cash receipts from all sources including money wages and salaries before any deductions, unemployment compensation, public assistance, alimony, child support, lottery/gambling winnings, dividends and all other income."} %>
    </label>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="rental_gross_income" name="rental_gross_income" placeholder="gross monthly income" class="form-control" value="<%= @rental_assistance.rental_gross_income %>" required>
      <span class="input-group-addon">.00</span>
    </div>

    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>
</div>
</div>

