<div class= "container">

<div class="page-header" style="border:none">
  <h1>Do I Qualify for Family Nutrition Assistance?</h1>

<div class="lead">
  <p>The Family Nutrition Assistance program is to address food deserts in the south suburbs to purchase and deliver fresh produce twice per month to a variety of sites to distribute to low-income families. </p>
  </div>

  <p>You can find more information on Family Nutrition <a href="http://www.cedaorg.net/www2/CDS.html">here</a></p>
</div>

<% if @family_nutrition.errors.any? %>
  <% @family_nutrition.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="panel panel-default col-md-12" style="margin: 0 0 40px 0; padding-top:15px">
  <div class="panel-body">
    <form action="/create_family_nutrition" role="form">

   <!-- Label and input for nutrition_household_size -->
    <div class="form-group col-sm-9">
    <label for="nutrition_household_size">What is your household size?</label>
     <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Number of people living in your household, including yourself."} %>
       <input type="text" id="nutrition_household_size" name="nutrition_household_size" placeholder="household size" class="form-control" value="<%= @family_nutrition.nutrition_household_size %>" required>
  </div>


  <!-- Label and input for nutrition_gross_income -->
   <div class="form-group col-sm-9">
    <label for="nutrition_gross_income">
      What is income over the past 90 days?
    </label>
    <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Income of all household members 18 years and older before deductions."} %>

    <div class="input-group">
      <span class="input-group-addon">$</span>
          <input type="text" id="nutrition_gross_income" name="nutrition_gross_income" placeholder="90 day income" class="form-control" value="<%= @family_nutrition.nutrition_gross_income %>" required>
      <span class="input-group-addon">.00</span>
    </div>

    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>
</div>
</div>

