<div class="page-header">
  <h1>Laf centers</h1>
</div>

<p><a href="/laf_centers/new" class="btn btn-primary">Add a New Laf Center</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Zipcode</th>
      <th>City</th>
      <th>Center</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Telephone</th>
      <th>Spanish</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @laf_centers.each do |laf_center| %>
      <tr>
        <td><%= laf_center.zipcode %></td>
        <td><%= laf_center.city %></td>
        <td><%= laf_center.center %></td>
        <td><%= laf_center.address %></td>
        <td><%= laf_center.contact %></td>
        <td><%= laf_center.telephone %></td>
        <td><%= laf_center.spanish %></td>
        <td>
          <a href="/laf_centers/<%= laf_center.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/laf_centers/<%= laf_center.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_laf_center/<%= laf_center.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

