<div class="page-header">
  <h1>Laf Center #<%= @laf_center.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Zipcode</dt>
  <dd><%= @laf_center.zipcode %></dd>

  <dt>City</dt>
  <dd><%= @laf_center.city %></dd>

  <dt>Center</dt>
  <dd><%= @laf_center.center %></dd>

  <dt>Address</dt>
  <dd><%= @laf_center.address %></dd>

  <dt>Contact</dt>
  <dd><%= @laf_center.contact %></dd>

  <dt>Telephone</dt>
  <dd><%= @laf_center.telephone %></dd>

  <dt>Spanish</dt>
  <dd><%= @laf_center.spanish %></dd>

</dl>
