<div class= "container">

<div class="page-header" style="border:none">
  <h1> Do I Qualify for Dental Assistance?</h1>

<div class="lead"> <p>Dental Assistance is financial assistance for limited dental needs and is available to remove barriers to maintaining or seeking employment, education/training or health maintenance. </p>
  </div>

  <p>You can find more information about Dental Assistance <a href="http://www.cedaorg.net/www2/CDS.html
">here.</a></p>
</div>

<% if @dental.errors.any? %>
  <% @dental.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="panel panel-default col-md-12" style="margin: 0 0 40px 0; padding-top:15px">
  <div class="panel-body">
    <form action="/create_dental" role="form">

  <!-- Label and input for dental_household_size -->
  <div class="form-group col-sm-9">
  <p><b>If you are a resident of Suburban Cook County and enrolled in the Community Services Block Grant program, you may be eligible for Dental Assistance.</b></p>
    <label for="dental_household_size">What is your household size?</label>
    <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Number of people living in your household, including yourself."} %>
      <input type="text" id="dental_household_size" name="dental_household_size" placeholder="For example: 3" class="form-control" value="<%= @dental.dental_household_size %>" required>
  </div>


  <!-- Label and input for dental_gross_income -->
   <div class="form-group col-sm-9">
    <label for="rental_gross_income">
      What is income over the past 90 days?
    </label>
     <%= link_to "<i class=\"fa fa-info-circle\"></i>".html_safe, "#", data: {toggle: "popover", placement: "top", content: "Income of all household members 18 years and older before deductions."} %>

    <div class="input-group">
      <span class="input-group-addon">$</span>
         <input type="text" id="dental_gross_income" name="dental_gross_income" placeholder="For example: 5000" class="form-control" value="<%= @dental.dental_gross_income %>" required>
      <span class="input-group-addon">.00</span>
    </div>
  </div>

  <%= render 'programs/zipcode_question' %>

    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>
</div>
</div>
