<div class="page-header">
  <h1>Organizations</h1>
</div>

<p><a href="/organizations/new" class="btn btn-primary">Add a New Organization</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Name</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.organization_id %></td>
        <td><%= organization.name %></td>
        <td><%= organization.url %></td>
        <td>
          <a href="/organizations/<%= organization.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/organizations/<%= organization.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_organization/<%= organization.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

