<div class="page-header">
  <h1>Service centers</h1>
</div>

<p><a href="/service_centers/new" class="btn btn-primary">Add a New Service Center</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Organization</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service_centers.each do |service_center| %>
      <tr>
        <td><%= service_center.name %></td>
        <td><%= service_center.latitude %></td>
        <td><%= service_center.longitude %></td>
        <td><%= service_center.street %></td>
        <td><%= service_center.city %></td>
        <td><%= service_center.state %></td>
        <td><%= service_center.zip %></td>
        <td><%= service_center.phone %></td>
        <td><%= service_center.organization %></td>
        <td>
          <a href="/service_centers/<%= service_center.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/service_centers/<%= service_center.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_service_center/<%= service_center.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

