<div class="page-header">
  <h1>Service Center #<%= @service_center.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @service_center.name %></dd>

  <dt>Latitude</dt>
  <dd><%= @service_center.latitude %></dd>

  <dt>Longitude</dt>
  <dd><%= @service_center.longitude %></dd>

  <dt>Street</dt>
  <dd><%= @service_center.street %></dd>

  <dt>City</dt>
  <dd><%= @service_center.city %></dd>

  <dt>State</dt>
  <dd><%= @service_center.state %></dd>

  <dt>Zip</dt>
  <dd><%= @service_center.zip %></dd>

  <dt>Phone</dt>
  <dd><%= @service_center.phone %></dd>

  <dt>Organization</dt>
  <dd><%= @service_center.organization %></dd>

</dl>
