<div class="container" style="padding-bottom:150px">

<% if @eligible == 'yes' %>
  <div class="page-header" style="border:none">
      <h1>Do I qualify for Medicaid?</h1>
        <p class="page lead">If you are an adult (19 and over) and a resident in the state of Illinois, you may qualify for Medicaid.</p>
  </div>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>
            <h4>Based on your household size and income, you likely qualify for Medicaid.</h4>

          <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/accessController?id=0.9152558493190114 ", :class => "btn btn-primary btn-sm" %>
          <br>
      </div>
    </div>

    <% elsif @eligible == 'maybe' %>
    <br>
        <br>
      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <div class="page-header" style="border:none">
            <h1>Do I qualify for Medicaid?</h1>
            <p class="page lead">If you are an adult (19 and over) and a resident in the state of Illinois, you may qualify for Medicaid.</p>
          </div>

            <h4>Based on the information received, we cannot determine your eligibility at this time. </h4>
            <br>
            <p class="lead"> You may need to discuss your situation with a Medicaid expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your Medicaid eligibility with you.</p>

            <br>

            <p class="lead">
            The nearest LAF center is the <%= @lafcenter.center %>.<br>
            Address: <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @user_zipcode %> <br>
            Phone number: <%= @lafcenter.telephone %> <br>
            Spanish Speaker: <%= @lafcenter.spanish %>
            </p>

            <br>

            <br>
      </div>
    </div>


      <% elsif @eligible == 'no' %>

   <div class="page-header" style="border:none">
      <h1>Do I qualify for Medicaid?</h1>
        <p class="page lead">If you are an adult (19 and over) and a resident in the state of Illinois, you may qualify for Medicaid.</p>
  </div>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
            <h4>Based on your household size and income, you likely do not qualify for Medicaid. </h4>

            <p> However, if you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.

            <%= link_to "Click Here", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-primary btn-sm" %> to learn more about fees.

            <br>
            Get Covered Illinois is a resource that helps families register for insurance at in-person events.
            <%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "btn btn-primary btn-sm" %> to find Get Covered Illinois events in your area. You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.


            </p>

            <p>Here are some additional resources from Purple Binder:</p>
          <% if @medical_resources_zip.count >= 2 %>
            <%= @medical_resources_zip.first.name %>  <br>
            <%= @medical_resources_zip.first.street %> <br>
            <%= @medical_resources_zip.first.city %> <br>
            <%= @medical_resources_zip.first.state %>, <%= @medical_resources_zip.first.zip %> <br>
            <%= @medical_resources_zip.first.phone %> <br>
            <br>
            <%= @medical_resources_zip.second.name %> <br>
            <%= @medical_resources_zip.second.street %> <br>
            <%= @medical_resources_zip.second.city %> <br>
            <%= @medical_resources_zip.second.state %>, <%= @medical_resources_zip.second.zip %> <br>
            <%= @medical_resources_zip.second.phone %> <br>
          <% end %>

            <% if @medical_resources_first.present? %>
              <%= @medical_resources_first.name %> <br>
              <%= @medical_resources_first.street %> <br>
              <%= @medical_resources_first.city %> <br>
              <%= @medical_resources_first.state %>, <%= @medical_resources_first.zip %> <br>
              <%= @medical_resources_first.phone %> <br>

              <br>
              <%= @medical_resources_second.name %> <br>
              <%= @medical_resources_second.street %> <br>
              <%= @medical_resources_second.city %> <br>
              <%= @medical_resources_second.state %>, <%= @medical_resources_second.zip %> <br>
              <%= @medical_resources_second.phone %> <br>
            <% end %>


        <% end %>
      </div>
</div>

<div class="container">
  <ul class="pager" style="padding: 20px 0 0 0; text-align:left">
    <!-- <li class="previous"><a href="/">← Back</a></li> -->
    <li> <%= link_to "← Back", :back, :class => "previous" %></li>
  </ul>
</div>
