<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700italic' rel='stylesheet' type='text/css'>

  <meta charset="utf-8">
  <title>Mrelief</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 50px;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" style= "background-color:white; border-bottom:thin solid #E6E6E6" role="navigation">


    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand logo"><b>mRelief</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="float:right;">
       <!--  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/mrelief">Food Stamps</a></li>
            <li class="divider"></li>
            <li><a href="/child_care_vouchers/new">Child Care Vouchers</a></li>
            <li class="divider"></li>
            <li><a href="/rental_assistances/new">Rental Assistance</a></li>
            <li class="divider"></li>
            <li><a href="/rta_free_rides/new">RTA Ride Free</a></li>
            <li class="divider"></li>
            <li><a href="/auto_repair_assistances/new">Auto Repair Assistance</a></li>
            <li class="divider"></li>
            <li><a href="/wics/new">Women, Infant and Child</a></li>
            <li class="divider"></li>
            <li><a href="/visions/new">Vision Assistance</a></li>
            <li class="divider"></li>
            <li><a href="/dentals/new">Dental Assistance</a></li>
            <li class="divider"></li>
            <li><a href="/head_starts/new">Head Start</a></li>
            <li class="divider"></li>
            <li><a href="/early_head_starts/new">Early Head Start</a></li>
            <li class="divider"></li>
            <li><a href="/housing_assistances/new">Housing Assistance</a></li>
            <li class="divider"></li>
            <li><a href="/family_nutritions/new">Family Nutrition</a></li>

            <li class="divider"></li>
            <li><a href="/programs">See All Programs</a></li>
        </ul>
        </li> -->
        <li><a href="/programs">Programs</a></li>
        <li><a href="/how_mrelief_works">How mRelief Works</a></li>
        <li><a href="/about_us">About Us</a></li>
        <li><a href="/contact_us">Contact Us</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
<!-- /.navbar-collapse -->
  </nav>

  <div class="">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

  </div>

  <div style="border-top:thin solid #E6E6E6; padding:20px 0 20px 0; max-width:100%">
    <div class="container">
    <p> mRelief does not predict with 100% accuracy whether users will definitely be approved for benefits; but instead provides users with information about whether it is worth it to invest the time required for the application process.</p>
        <div><a href="/programs" class="logo" style="text-decoration:none">mRelief</a>
        <a href ="https://www.facebook.com/mRelief"><i class="fa fa-facebook-square pull-right" style="font-size:32px"></i></a>
        <a href ="https://twitter.com/mrelief_form"><i class="fa fa-twitter-square pull-right" style="font-size:32px"></i></a>
        <a href ="https://plus.google.com/117049110248209318421 "><i class="fa fa-google-plus-square pull-right" style="font-size:32px"></i></a>
        </div>

    </div>
  </div>
</body>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>
